@import "styles/media.scss";

.container {
    @include media("screen", ">tablet") {
        position: relative;
        width: var(--aside-width);
        border-right: 1px solid;
        border-left: 1px solid;
    }
}

.sticky {
    // padding: 1rem;
    position: sticky;
    top: 0;
}

.controller {
    padding: 1rem;
    height: calc(100vh - var(--header-height));
    overflow: scroll;
    scroll-behavior: smooth;
}

.button_group {
    display: flex;
    gap: var(--grid-gap);
    // background-color: magenta;
    margin-bottom: 1rem;

    button {
        outline: none;
        background: none;
        border: 1px solid;
        cursor: pointer;
        border-radius: 5rem;
        color: currentColor;
        padding: var(--grid-gap) 0.5rem;
        @mixin active {
            background-color: var(--geist-pp-color);
        }

        &:enabled {
            &:hover {
                &[data-modified="false"] {
                    @include active();
                }
            }
            &[aria-current="true"] {
                @include active();
            }
        }
        &:disabled {
            color: var(--accents-3);
        }
    }
}
